.RequestForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 830px;
    background-color: var(--cl-grey100);
    align-items: center;
    justify-content: center;
}

.RequestForm h1{
    font-weight: 500;
    font-size: 34px;
    line-height: 125%;
    letter-spacing: -1%;
    text-align: center;
    margin-bottom: 20px;

}

.RequestForm h2{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;   
    margin-bottom: 40px; 
}

.RequestForm label{
    width: 590px;
    height: 15px;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0%;

}

.RequestForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RequestForm_input{
    width: 590px;
    height: 44px;
    border-width: 1px;
    gap: 8px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--cl-grey400);
}

.RequestForm_input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--cl-grey600);
}

.RequestForm ul{
    list-style-type:  none;
    padding-left: 0;
}

.RequestForm textarea{
    width: 590px;
    height: 88px;
    border-width: 1px;
    gap: 8px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid var(--cl-grey400);;
}

.RequestForm textarea::placeholder{
    color: var(--cl-grey600);
}

.requestFotm-textarea::-webkit-resizer {
    display: none;
}

.RequestForm form button{
    justify-self: center;
    width: 386px;
    height: 44px;
    gap: 8px;
    padding-top: 8px;
    padding-right: 32px;
    padding-bottom: 8px;
    padding-left: 32px;
    border-radius: 4px;
    background-color: var(--cl-blue);
    color: var(--cl-white);
    border-color: transparent;
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
}

.RequestForm form button:hover{
    background-color: var(--cl-blueHover);
}



.personalData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    letter-spacing: 0%;
}

.personalData span:last-child{
    border-bottom: 1px solid rgba(13, 122, 217, .2);
}

.Error{
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 0%;
    color: red;
}