.Vacancies{
    display: flex;
    flex-direction: column;
    margin: 0 120px;
}

.newVacancies{
    width: 113px;
    height: 44px;
    border: none;
    border-radius: 4px;
    color: var(--cl-white);
    background-color: var(--cl-blue);
    margin:52px 0 52px 0;
    
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
    
    align-self: center;
}

.newVacancies:disabled{
    display: none;
}

.newVacancies:hover{
    background-color: var(--cl-blueHover);
}