.filters{
    display: flex;
    flex-direction: row;
    margin: 0 120px;
}

.filters_button{
    width: 113px;
    height: 44px;
    margin-left: 16px;
    border: none;
    border-radius: 4px;
    color: var(--cl-white);
    background-color: var(--cl-blue);
    
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 2%;
    text-align: center;
    vertical-align: middle;
    
    align-self: end;
}

.filters_button:hover{
    background-color: var(--cl-blueHover);
    transition: 0.3s;
}

.filters-clear{
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 102px;
    margin-top: 16px;
    margin-left: 120px;

    cursor: pointer;
}

.filters-clear.disabled{
    display: none;
}

.filters-clear_image{
    display: flex;
    width: 16px;
    height: 16px;
    align-items: center;
    justify-content: start;
    align-self: center;
    justify-self: center;
}

.filters-clear_image svg{
    fill:var(--cl-blue)
}

.filters-clear_text{
    display: inline;
    vertical-align: middle;
    border-bottom: 1px solid rgba(13, 122, 217, .2);
    font-size: 16px;
    line-height: 145%;
    color: var(--cl-blue);
}