@import 'src/Styles/variables.css';
@import 'src/Styles/fonts.css';

.hhru{
    font-family: 'Roboto';
}

.hhru-title{
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0%;
    margin-top: 64px;
    margin-left: 120px;
    margin-right: 120px;
}
